a-card.css ```<!doctype html>
<html>
<head>   

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Card</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="b-card.css">


</head>

<body> 

<section class="cards">
<article class="card card--1">
  <div class="card__info-hover">
    <svg class="card__like"  viewBox="0 0 24 24">
    
    </svg>
      <div class="card__clock-info">
        <svg class="card__clock"  viewBox="0 0 24 24">
        </svg><span class="card__time">4 hours</span>
      </div>
    
  </div>
  <div class="card__img"></div>
  <a href="https://www.apple.com/fr/?afid=p238%7Cs05EVyND6-dc_mtid_187079nc38483_pcrid_586533327349_pgrid_16898309484_&cid=aos-fr-kwgo-brand--slid--bran-product-" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> Alternance</span>
    <h3 class="card__title">Apple</h3>
    <span class="card__by">by <a href="https://www.linkedin.com/in/ilhan-k%C3%B6ro%C4%9Flu/" class="card__author" title="author">Ilhan Koroglu</a></span>
  </div>
</article>
  
  
<article class="card card--2">
  <div class="card__info-hover">
    <svg class="card__like"  viewBox="0 0 24 24">
    <path fill="#000000" d="" />
</svg>
      <div class="card__clock-info">
        <svg class="card__clock"  viewBox="0 0 24 24"><path d="" />
        </svg><span class="card__time">3 days ago</span>
      </div>
    
  </div>
  <div class="card__img"></div>
  <a href="https://www.spotify.com/fr/premium/?utm_source=fr-fr_brand_contextual-mobile_text&utm_medium=paidsearch&utm_campaign=alwayson_emea_fr_performancemarketing_core_brand+contextual-mobile+text+exact+fr-fr+google&gclid=CjwKCAjwrfCRBhAXEiwAnkmKmebyh1JWpvuJ7X86596NXaTCyEefFQeEAWjfYao3iiJ6aeLSLa5vQhoCv4cQAvD_BwE&gclsrc=aw.ds" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> Stage</span>
    <h3 class="card__title">Spotify</h3>
    <span class="card__by">by <a href="https://www.linkedin.com/in/ilhan-k%C3%B6ro%C4%9Flu/" class="card__author" title="author">Ilhan Koroglu</a></span>
  </div>

  
</article>  
  
  
  
  </section>
</body>
</html>
```