<!doctype html>
<html lang="en">

<head>  

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="When writing a meta description">

    <title>Un Pepene Internship</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
    <link rel="stylesheet" type="text/css" href="css/b-footer2.css"> 

    <script src="jquery/main.js"></script>
    <script src="jquery/jquery.js"></script>

</head>

<body>  

  <div class="hero">
    <nav>

      <h2 class="logo">Un Pepene <span>Internship</span></h2>

      <ul>

        <li><a href="a-home.html">Home</a></li>
        <li><a href="a-offers.html">Offers</a></li>
        <li><a href="a-wishlist.html">Wishlist</a></li>
        <li><a href="#">Employer</a></li>
        
      </ul>

        <div class="box hidden" id="box">
          <h1>Login</h1>
          <form method="POST" action="">

            <div class="input-bx">
              <input type="text" name="Username" autocomplete="off" required >
              <label> Username</label>
            </div>
            
            <div class="input-bx">
              <input type="password" name="Password" autocomplete="off" required >
              <label> Password</label>
            </div>

            <input type="submit" name="" value="Login">

          </form>
        </div>


      <a href="login.html" class ="signbtn" id="signup">Login / Signup</a>
      <!-- <button class ="signbtn" id="login" type="button">Sign Up</button> -->

    </nav>

<div class = "middletext">
    <div class="hero-text">
      <h1>Sow the seeds of your future</h1> <br> <br>
      <h2>Find your internship right now</h2>
    </div>

    <form method="GET">
      <div class="search">
        
          <input class="input" type="text" name="s" placeholder="Job, skills, company...">
          <input class="input" type="text" name="s" placeholder="City, area...">
          <button type="submit" class="searchbtn"> Search <i class="fa fa-search"></i></button>
      </div>

        <div class="filters">
          <div class="toggle">
            <label for="sel1">Contract Type :</label>
            <select class="toggle" id="sel1">
              <option>Internship</option>
              <option>Apprenticeship</option>
              <option>Permanent Contract</option>
              <option>Fixed-term Contract</option>
            </select>

            <label for="sel1">Professional Field :</label>
            <select class="toggle" id="sel2">
              <option>Engineering</option>
              <option>Computer Science</option>
              <option>Construction</option>
              <option>Healthcare</option>
            </select>

            <label for="sel1">Duration :</label>
            <select class="toggle" id="sel3">
              <option>1 Day</option>
              <option>1 Month</option>
              <option>2 Months</option>
              <option>1 Year</option>
            </select>
          </div>
        </form>
  
  
</div>

      </div> 
 
   
    </div>

<footer>

    <div class="footer">  
    <div id="button"></div>
    <footer1 class="footer1">


          <div class="footer_address">

              <h1 class="footer_logo">UN PEPENE INTERNSHIP</h1>
                  
              <h2>Contact</h2>
              
              <address>
                80 avenue Edmund Halley , 76800 Saint-Étienne-du-Rouvray
                    
                <a class="footer_btn" href="mailto:unpepeneinternship@gmail.com">Email Us</a>
              </address>
          </div>

          <ul class="footer_nav">

              <li class="nav_item">

                  <h2 class="nav_title">Media</h2>

                  <ul class="nav_ul">

                      <li>
                        <a href="#">Online</a>
                      </li>

                      <li>
                        <a href="#">Print</a>
                      </li>
                          
                      <li>
                        <a href="#">Alternative Ads</a>
                      </li>

                  </ul>

              </li>

              <li class="nav_item">

                  <h2 class="nav_title">Legal</h2>
                  
                  <ul class="nav_ul">

                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    
                    <li>
                      <a href="#">Terms of Use</a>
                    </li>
                    
                    <li>
                      <a href="#">Sitemap</a>
                    </li>

                  </ul>
              </li>
              

               <li class="nav_item">

                  <h2 class="nav_title">Legal</h2>
                  
                  <ul class="nav_ul">

                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    
                    <li>
                      <a href="#">Terms of Use</a>
                    </li>
                    
                    <li>
                      <a href="#">Sitemap</a>
                    </li>

                  </ul>
              </li>

              <li class="nav_item nav_item-a">

                  <h2 class="nav_title">Technology</h2>
                  
                <ul class="nav_ul nav_ul-a">

                    <li>
                      <a href="#">Hardware </a>
                    </li>
                    
                    <li>
                      <a href="#">Software </a>
                    </li>
                    
                    <li>
                      <a href="#">Digital </a>
                    </li>

                </ul>
              </li>
              

             
          </ul>
            
          <div class="legal">

            <p>&copy; 2022 UN PEPENE INTERNSHIP. All rights reserved.</p>
            
            <div class="legal_links"></div>

          </div>

    <div id="container"></div>
    <div id="cont"></div>
    <div class="footer_center"> </div>
    </footer1>
    </div>
  </footer>

</body>
</html>