<!doctype html>
<html>
<head>   

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="b-home.css">
    <link rel="stylesheet" type="text/css" href="b-login.css">
    <link rel="stylesheet" type="text/css" href="b-footer.css">
    <link rel="stylesheet" type="text/css" href="b-footer2.css">



</head>

<body>  



  <div class="hero">
    <nav>

      <h2 class="logo">Un Pepene <span>Internship</span></h2>

      <ul>

        <li><a href="#">Home</a></li>
        <li><a href="">Offers</a></li>
        <li><a href="#">Wishlist</a></li>
        <li><a href="#">Employer</a></li>
        
      </ul>

      <div class="main">
        <div class="box" id="box">
          <h1>Login</h1>
          <form method="" action="">

            <div class="input-bx">
              <input type="text" name="Username" autocomplete="off" required >
              <label> Username</label>
            </div>
            
            <div class="input-bx">
              <input type="password" name="Password" autocomplete="off" required >
              <label> Password</label>
            </div>

            <input type="submit" name="" value="Login">

          </form>
        </div>
      </div>

      <button type="button">Login</button>
      <button type="button">Sign Up</button>

    </nav>

<footer>

    <div class="footer">  
    <div id="button"></div>
    <footer1 class="footer1">


          <div class="footer_address">

              <h1 class="footer_logo">UN PEPENE INTERNSHIP</h1>
                  
              <h2>Contact</h2>
              
              <address>
                80 avenue Edmund Halley , 76800 Saint-Étienne-du-Rouvray
                    
                <a class="footer_btn" href="mailto:unpepeneinternship@gmail.com">Email Us</a>
              </address>
          </div>

          <ul class="footer_nav">

              <li class="nav_item">

                  <h2 class="nav_title">Media</h2>

                  <ul class="nav_ul">

                      <li>
                        <a href="#">Online</a>
                      </li>

                      <li>
                        <a href="#">Print</a>
                      </li>
                          
                      <li>
                        <a href="#">Alternative Ads</a>
                      </li>

                  </ul>

              </li>

              <li class="nav_item">

                  <h2 class="nav_title">Legal</h2>
                  
                  <ul class="nav_ul">

                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    
                    <li>
                      <a href="#">Terms of Use</a>
                    </li>
                    
                    <li>
                      <a href="#">Sitemap</a>
                    </li>

                  </ul>
              </li>
              

               <li class="nav_item">

                  <h2 class="nav_title">Legal</h2>
                  
                  <ul class="nav_ul">

                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    
                    <li>
                      <a href="#">Terms of Use</a>
                    </li>
                    
                    <li>
                      <a href="#">Sitemap</a>
                    </li>

                  </ul>
              </li>

              <li class="nav_item nav_item-a">

                  <h2 class="nav_title">Technology</h2>
                  
                <ul class="nav_ul nav_ul-a">

                    <li>
                      <a href="#">Hardware </a>
                    </li>
                    
                    <li>
                      <a href="#">Software </a>
                    </li>
                    
                    <li>
                      <a href="#">Digital </a>
                    </li>

                </ul>
              </li>
              

             
          </ul>
            
          <div class="legal">

            <p>&copy; 2022 UN PEPENE INTERNSHIP. All rights reserved.</p>
            
            <div class="legal_links"></div>

          </div>

    <div id="container"></div>
    <div id="cont"></div>
    <div class="footer_center"> </div>

  </footer>



</body>
</html>