<!doctype html>
<html>
<head>   

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Menu</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="b-login.css">


</head>

<body>  

    <div class="main">
      <div class="box">
        <h1>Login</h1>
        <form method="" action="">
          <div class="input-bx">
            <input type="text" name="Username" autocomplete="off" required >
            <label> Username</label>
          </div>
          <div class="input-bx">
            <input type="password" name="Password" autocomplete="off" required >
            <label> Password</label>
          </div>
          <input type="submit" name="" value="login">

        </form>
      </div>
      
    </div>



</body>
</html>